* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.plan,
.circles {
  width: 20px;
  height: 20px;
  display: flex;
}

.first {
  display: flex;
  justify-content: space-between;
}

.feat {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 1rem;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
  }

  li {
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}

.one {
  border-radius: 6rem;
  width: 90px;
  margin-bottom: 2rem;
  background-color: #ebebeb;
}

.second {
  padding-bottom: 2rem;
}

.first-part {
  background-color: #ebebeb;

  h2 {
    padding-bottom: 0.5rem;
  }

  p {
    padding-bottom: 0.5rem;
  }
}

.but {
  padding-bottom: 1rem;
}

.two {
  border-radius: 6rem;
  padding: 0.5rem;
  background-color: #fff;
}

.three {
  border-radius: 6rem;
  padding: 0.5rem;
  background-color: #000;
  color: #fff;
}

.second-part img {
  width: 100%;
  height: 100%;
  position: relative;
}

.intro {
  h3 {
    text-align: center;
    padding-bottom: 2rem;
  }
}

.bef {
  padding-bottom: 1rem;
  background-color: #ebebeb;
}

.sty {
  border-radius: 6rem;
  padding: 0.5rem;
  color: #fff;
  background-color: darkgreen;
  margin-bottom: 1rem;
  text-align: center;
}

.nad {
  border-radius: 4px;
  padding: 0.5rem;
  color: #000;
  background-color: #fff;
  margin-bottom: 1rem;
}

.sec .material-symbols {
  font-size: 1rem;
}

.aft {
  padding-top: 1rem;
  background-color: #ebebeb;

  p {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.ern {
  border-radius: 6rem;
  padding: 1rem;
  color: #fff;
  background-color: coral;
}

.cia {
  border-radius: 6rem;
  color: #000;
  background-color: transparent;
  padding: 0.5rem;
}

.olog {
  border-radius: 6rem;
  color: #fff;
  background-color: aqua;
  padding: 0.5rem;
}

.prs {
  border-radius: 6rem;
  color: #000;
  background-color: transparent;
  padding: 0.5rem;
}

.secto {
  display: block;
  gap: 1rem;
  background-color: #ebebeb;
  text-align: center;
  margin: 1.5rem;
  padding: 3rem 0;
}

.day {
  display: block;
  gap: 1rem;
  text-align: center;
  padding: 3rem 0;
  background-color: #fff;
  margin-bottom: 1rem;
  width: 100px;
  justify-self: center;
  border-radius: 6px;
}

.res {
  display: block;
  gap: 1rem;
  background-color: #fff;
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 1rem;
  width: 100px;
  justify-self: center;
  border-radius: 6px;
}

.arg {
  display: block;
  gap: 1rem;
  background-color: #fff;
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 2rem;
  width: 100px;
  justify-self: center;
  border-radius: 6px;
}

.like {
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.both {
  display: block;
  gap: 1rem;
  background-color: gold;
  margin: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.trac {
  padding: 1rem;
  width: 350px;

  h2 {
    margin-bottom: 1rem;
  }
}

.wel {
  display: block;
  gap: 1rem;
  width: 200px;
  justify-self: center;
}

.iphone {
  width: 150px;
  height: 200px;
  margin-bottom: 1rem;
}

.fun {
  background-color: darkorange;
  margin: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 300px;
  color: #fff;

  h3 {
    text-align: center;
    margin-top: 1rem;
  }

  p {
    text-align: center;
    margin-top: 2rem;
  }
}

.emo {
  width: 50px;
  height: 50px;
  display: flex;
  margin-bottom: 1rem;
  background-color: darkorange;
  margin-top: 3rem;
}

.fest {
  width: 50px;
  height: 50px;
  justify-self: center;
  margin-right: 2rem;
}

.celebrate {
  width: 50px;
  height: 50px;
  justify-self: center;
  margin-top: 2rem;
  align-items: center;
}

.cool {
  width: 50px;
  height: 50px;
  justify-self: center;
}

.effort {
  background-color: plum;
  margin: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 300px;
  color: #fff;

  p {
    text-align: center;
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 1rem;
  }
}

.buttons .cam {
  border-radius: 7rem;
  border: none;
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.ca {
  border-radius: 7rem;
  border: none;
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
  margin-left: 4rem;
}

.hw {
  background-color: #ebebeb;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.def {
  text-align: center;
}

.message {
  background-color: #ebebeb;
  padding: 1rem;
  display: block;
  gap: 1rem;
  margin: 2rem;
  border-radius: 1rem;
}

.sam {
  border-radius: 6rem;
  padding: 0.3rem;
  margin-bottom: 1rem;

  span {
    color: orange;
  }
}

.tag {
  ul {
    text-align: center;
    margin-bottom: 2rem;

    li {
      margin-bottom: 1rem;
    }
  }

  span {
    color: orange;
  }
}

.john {
  margin-bottom: 2rem;
  display: block;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;

  p {
    margin-bottom: 1rem;

    span {
      margin-bottom: 1rem;
    }
  }
}

.emily {
  margin-bottom: 2rem;
  display: block;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;

  p {
    margin-bottom: 1rem;

    span {
      margin-bottom: 1rem;
    }
  }
}

.kim {
  margin-bottom: 2rem;
  display: block;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;

  p {
    margin-bottom: 1rem;

    span {
      margin-bottom: 1rem;
    }
  }
}

.sebastian {
  margin-bottom: 2rem;
  display: block;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;

  p {
    margin-bottom: 1rem;

    span {
      margin-bottom: 1rem;
    }
  }
}

.patel {
  margin-bottom: 2rem;
  display: block;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;

  p {
    margin-bottom: 1rem;

    span {
      margin-bottom: 1rem;
    }
  }
}

.jaden {
  margin-bottom: 2rem;
  display: block;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;

  p {
    margin-bottom: 1rem;

    span {
      margin-bottom: 1rem;
    }
  }
}

.john-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.net {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.quest {
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.app {
  background-image: url("../asset/original-6eb844c44e06b4e07223b5d215b270d8.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: #000;
    font-size: 2rem;
  }

  p {
    text-align: center;
    margin-bottom: 1rem;
    color: #a39a9a;
    font-size: 1.5rem;
  }
}

.elsa {
  margin-bottom: 1rem;
}

.rebase {
  border-radius: 30px;
  padding: 0.5rem;
  background-color: #fff;
  border-color: #fff;
  text-align: center;

  & img {
    width: 20px;
    height: 10px;
  }
}

.play {
  width: 10px;
  height: 10px;
}

.odam {
  margin-bottom: 2rem;
}

.planoo {
  margin-bottom: 1rem;
}

.face {
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 768px) {
  .first {
    display: flex;
    padding: 4rem;
    justify-content: space-between;
  }

  .second {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .first-part {
    padding: 1rem;

    h2 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .but {
    margin-bottom: 3rem;
  }

  .franc {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    padding: 5rem;
    text-align: center;
    margin-bottom: 3rem;

    h3 {
      text-align: center;
    }
  }

  .secto {
    display: flex;
    width: 300px;
    text-align: center;
  }

  .aft {
    border-radius: 10px;
    width: 340px;
  }

  .bef {
    border-radius: 10px;
    width: 310px;
  }

  .yvn {
    margin-bottom: 4rem;
    border-radius: 3px;
    padding-top: 2rem;
  }

  .ern {
    width: 100px;
  }

  .sty {
    margin-top: 1rem;
    width: 100px;
  }

  .like {
    padding: 5rem;
  }

  .view {
    margin-bottom: 2rem;
  }

  .both {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .wel {
    margin-top: 1rem;
    border-radius: 10px;
  }

  .trac {
    padding: 2rem;
  }

  .prog {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-self: center;
  }

  .emo {
    justify-self: center;
    justify-content: center;
  }

  .cam {
    justify-self: center;
  }

  .def {
    padding-top: 3rem;
  }

  .message {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem;
  }

  .net {
    width: 50px;
    height: 50px;
  }

  .ask {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;
    padding: 3rem;
    margin-bottom: 2rem;
  }

  .abia {
    padding-top: 8rem;
  }

  span {
    margin-top: 0.3rem;
  }

  .tag {
    ul {
      list-style: none;
    }

    li {
      display: flex;
      border-bottom: solid gray 1px;
    }
  }

  .app {
    padding: 5rem;
    margin-bottom: 1rem;
    background-image: url("../asset/original-6eb844c44e06b4e07223b5d215b270d8.jpg");
  }

  .toget {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    list-style: none;
  }

  .eye {
    list-style: none;
  }

  .odam {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .right {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ebebeb;
  }

  .remo {
    display: flex;
    padding: 1rem;
    list-style: none;
    gap: 1rem;
  }

  .face {
    width: 20px;
    height: 20px;
    border-radius: 70%;
    border: 1px solid #333;
    box-shadow: 0 0 0 10px #fff;
  }

  .reserv {
    margin: 1rem;
    margin-top: 1rem;
  }
}
